/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*************ACCUEIL*************/


/* RESPONSIVE*/


@media screen and (max-width: 580px){
    #footer {width: 95%; margin: 0 auto;}
    #header {width: 100%;}
    /* #nav {width: 40%; float: right;} */
    nav {display: none;}
    
}





h2{
    font-size: 30px;
    font-weight: bold;
}




body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.flex{
    display:flex;
    flex-wrap: wrap;
}

.callToAction{
    padding: 1px 9px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    color: white;
    text-decoration: none ;
}
header{
    height: 70vh;
    background: url(../img/image_titiburger.png);
    background-size: cover;
    justify-content: space-between;


}

.logo{
    height: 300px;
    width: 300px;
    text-align: center;
    padding-top: 20px,/*marge intérieure*/;
    margin-top: 20px,/*marge intérieure*/ ;
}

.logo img{

    width:60%
}

.navigation{
        width: 40%;
        height: 300px;
    }

.bouton{
    text-align: right;
    padding: 20px;
    
   
}

.bouton .callToAction{
    margin-left: 16px;
    transition: 0.5s;
}

.bouton .callToAction:hover{
    filter: brightness(50%);

}



nav{
    margin-top: 20px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

nav a{
    color:rgb(250, 249, 255);
    text-decoration: none;
    font-weight: bold; 
    font-size: 19px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;

}

nav a:hover{
    color:  rgb(74, 12, 245);
}


main{
    margin: 40px;
    
}

.restoTitiStory{
    display: flex;
    flex-wrap: wrap;
    margin:auto;

}

.leResto{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.leResto img{
    width: 100%;
    margin: 10%;
    border-radius: 15px;
}



.texte1{
    width: 30%;
    height: 200px;
    margin: 10%;
}

.texte1 h2 {
    margin-bottom: 30px;
}

.texte1 h3{
    margin-bottom: 30px;
}

p{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: space-between;
    
}


.nosBurger1 img{
    width: 300px;
    height: 70%;
    float: right
} 

.nosBurger2 img{
    width: 300px;
    height: 70%;
}

.nosBurger3 img{
    width: 300px;
    height: 70%;
}

.flex2, .h1{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: blue;
    font-size: 20px;
}

.burgerNum1 img{
    width: 300px;
    height: 100%;
    border-radius: 50px;
    justify-content: space-around;

}    

.burgerNum2 img{
    width: 300px;
    height: 100%;
    border-radius: 50px;
    justify-content: space-around;
}

.burgerNum3 img{
    width:  300px;
    height: 100%;
    border-radius: 50px;
    justify-content: space-around;
}

.bloc1{
    width: 300px;
    height: 100%;
    background: green;
    margin: 30px;

}


.newsletter{
    height: 200px;
    background: rgb(80, 115, 129);
    display: flex;
    justify-content: end;
    margin: 10%;
}

.offres{
    margin: 30px;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;

}

.inscription{
    margin: 30px;
    text-align: right;
    font-size:x-large;
    color: rgb(170, 134, 140);
}



.newsletter img{
    height: 50px;
    margin: 5%;
    background: rgb(255, 206, 255);
    
}


.bloc{
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin: 70px;
    width: 30%;
   
}

.foot{
    display: flex;
    justify-content: space-between;
    background: rgb(213, 226, 233);
}



.Mentions, .Plan, .Contact{
display: flex;
flex-direction: column;
padding: 20px;

}

.rs{
    height: 40px;
    width: 40px;
}

#maps {
    height: 170px;
    width: 200px;
    object-fit: cover;

}

.diapo-parent {
    width: 100%;
    max-width: 100%;
}

.diapo-parent img {
    height: 200px;
    width: 100px;
    object-fit:cover;
}


