.flex{
    display:flex;
    flex-wrap: wrap;
}
header{
    height: 70vh;
    background-color: beige;
    justify-content: space-between;

}

.logo{
    height: 300px;
    width: 350%;
    background: fuchsia;
}

.navigation{
        width: 40%;
        background: rgb(63, 58, 16);
        height: 300px;
    }

.bouton{
    background:  rgb(94, 87, 25);
    height: 150px;

}

nav{
    background: purple;
    height: 150px;
}

